<nav class="navbar navbar-expand-sm  " style="background-color:#000080;">
  <a href="{%url 'new_project'%}" class="navbar-brand" style="margin-left:100px;">Post project</a>
  <div class="col-md-6 col-sm-6">
    {% if user.is_authenticated %}
    <ul class="navbar-nav mr-auto d-flex justify-content-between">
      <li class="nav-item">
        <a href="{% url 'home'%}" class="nav-link">Project-awards</a>
      </li>
      <li class="nav-item">
        <a href="/profile/{{user.username}}" class="nav-link">{{user.username}}</a>
      </li>
      <li class="nav-item dropdown">
        <a href="#" class="dropdown-toggle btn btn-default nav-link" data-toggle="dropdown" role="button" aria-expanded="false">Account</a>
        <ul class="dropdown-menu" role="menu">
          <li></li>
          <li>
          <a href="/accounts/password/change">Change Password</a>
        </li>
        <li>
          <a href="/logout">Logout</a>
        </li>
      </ul>
    </li>
    <form class="form-inline my-2 my-lg-0" action="{% url 'search' %}" method="get" style="margin-right:-150px;">
    <input type="search" name="project" placeholder="Search" aria-label="Search" class="form-control container-fluid">
    <button type="submit" name="button" class="btn-info">Search</button>
  </form>
  </ul>
  {% else %}
  <!-- <li>
    <a class='btn btn-default' href="/accounts/login">Login</a>
  </li> -->
  <ul class="navbar-nav mr-auto d-flex justify-content-between">
    <li class="nav-item">
      <a href="{% url 'home'%}" class="nav-link">Project-awards</a>
    </li>
    <li class="nav-item">
      <a href="/profile/{{user.username}}" class="nav-link">{{user.username}}</a>
    </li>
    <li class="nav-item dropdown">
      <a href="#" class="dropdown-toggle btn btn-default nav-link" data-toggle="dropdown" role="button" aria-expanded="false">Account</a>
      <ul class="dropdown-menu" role="menu">
        <li></li>
        <li>
        <!-- <a href="/accounts/password/change">Change Password</a> -->
      </li>
      <li>
        <a href="/accounts/login/">Login</a>
      </li>
    </ul>
  </li>
  <form class="form-inline my-2 my-lg-0" action="{% url 'search' %}" method="get" style="margin-right:-150px;">
  <input type="search" name="project" placeholder="Search" aria-label="Search" class="form-control container-fluid">
  <button type="submit" name="button" class="btn-info">Search</button>
</form>
</ul>

  {% endif %}

  </div>

</nav>
